DrIFT.cabal
DrIFT.spec
Makefile
Makefile.in
ac-macros/config.guess
ac-macros/config.sub
ac-macros/install-sh
ac-macros/mdate-sh
ac-macros/missing
ac-macros/texinfo.tex
aclocal.m4
autom4te.cache/
config.log
config.status
configure
dist/
docs/drift.info
docs/stamp-vti
docs/version.texi
drift-ghc
example/Makefile
example/Makefile.in
src/DrIFT/Version.hs
src/Makefile
src/Makefile.in
src/Rules.hs
*~
